.side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 15px;
}

.side-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.side-logo img {
    width: 120px;
    margin-left: 15px;
}

.search-bar form {
    height: 35px;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px 0 0 10px;
}

.search-bar input {
    width: 500px;
    height: 100%;
    border-radius: 30px 30px 30px 30px;
    outline: none;
}

.search-bar button {
    height: 100%;
}

.side i {
    padding: 0 8px;
    margin-left: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
}






